# Файлы кэша Python
__pycache__/
*.py[cod]
*$py.class

# C-расширения
*.so

# Дистрибутивы / упаковка
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.spec

# Логи установщика
pip-log.txt
pip-delete-this-directory.txt

# Отчеты о тестировании и покрытии
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Виртуальные окружения
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Файлы IDE / редакторов кода
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
output_log.txt